
/* THIS IS HOW YOU LEAVE COMMENTS IN CSS */

*{
	margin:0px;
	padding:0px;
}


body{
	background:url('img/lake_46.png')no-repeat center center fixed;
	background-size:cover;
	color:yellow;
	text-shadow: 1px 1px 1px black;
	padding:10px;
	margin:5px;
	font-family:tahoma;
	
}
.my-border{
	       border:3px solid red;
	      }

.main-section{
	          margin:0px auto;
              margin-top:10px;
              padding:0px ; 
              }


.modal-content{
	           background:rgba(0,0,0,.5);
	         
              }

.user-img{

	margin-top: -30px;
	margin-bottom:35px;
	border-radius:7px;
}

.form-group{
	margin-bottom: 25px;
}

.my-text-shadow{text-shadow:1px 1px 1px black;}

#dateDemo sub{
font-family: 'Tangerine', cursive;
color:blue;
font-weight: bolder;
text-shadow: 1px 1px 1px black;
font-size:60px;
letter-spacing: 3px;
}

.my-bg-purple{background:rgba(200,0,255,.5);}